<div class="container">
    <h1>{{title}}</h1>
    <div class="panel panel-default">
      <div class="panel-heading">Welcome to {{title}}</div>
      <div class="panel-body">
        <ul id="testField" class="nav nav-tabs nav-stacked" style="height: 300px"><li>Loading...</li></ul>
      </div>
    </div>
</div>